---
title: "Tomasz Strzoda"
layout: splash-with-terminal
browser_title: Tomasz Strzoda
feature_row:
  - image_path: "/assets/images/about-teaser.jpg"
    alt: "About"
    title: "About"
    excerpt: "Get to know me better. Peek behind the curtain and discover more about me."
    url: "/about"
    btn_label: "Read"
    btn_class: "btn--primary"
  - image_path: "/assets/images/projects-teaser.jpg"
    alt: "Projects"
    title: "Projects"
    excerpt: "Explore a showcase of my achievements, from standout programs to remarkable projects."
    url: "/projects"
    btn_label: "View"
    btn_class: "btn--primary"
  - image_path: "/assets/images/blog-teaser.jpg"
    alt: "Blog"
    title: "Blog"
    excerpt: "Immerse yourself in my IT adventures. Read experiences and solutions I've shared."
    url: "/blog"
    btn_label: "Read"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}